* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}


.header {
    text-align: center;
    text-shadow: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
   
}

.html {
    color: rgb(226, 44, 114);
}
.t-letter,
.g-letter {
    font-size: 45px;
    color: rgb(235, 220, 20);
    font-weight: 700;
}

.container {
    padding: 2.5rem 4rem;
    background-image: linear-gradient(to right bottom, rgba(15, 14, 14, 0.9), rgba(37, 50, 54, 0.9)), 
    url("background.jpg");
    background-size:cover;
    background-position: center;
}

.inputs-container {
    margin-top: 2rem;
}

label {
    font-size: 12px;
    color: white;
    margin-right: .7rem;

}
.text-inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

}

.value-input {
    width: 7rem;
    height: 1.5rem;
}

.color-inputs-wrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color-wrapper {
    display: flex;
    align-items: center;
}
.color-input {
    height: 2.1rem;
    width: 3.3rem;
    margin-left: .1rem;
    padding: .1rem;
    background-color: lightgray;
    border-radius: 3px;

}


.font-type__input,
.font-weight__input,
.text-align__input {
    border-radius: 4px;
    border: 1px solid black;
    padding: .2em;

}
.font-size__input {
    padding: .2em;
    width: 6rem;

}


.other-inputs-wrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;

}

.checkbox-container {
    display: flex;
    align-items: center;
}


.buttons-wrapper {
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
}

.btn {
    margin: .4rem;
    padding: .8rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    
}


.btn-generate {
    background-color: rgb(226, 44, 114);

}
.btn-getcode {
    background-color: rgb(18, 155, 189);

}

.btn-generate:hover {
    background-color: rgb(173, 24, 82);

}
.btn-getcode:hover {
    background-color: rgb(10, 111, 136);

}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.btn-generate:active,
.btn-getcode:active {
    transform: translateY(-.1rem);
}

.table-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.textarea-field {
    width: 20rem;
    height: 20rem;
}

.copy-wrapper {
    padding: 0 5rem;
    display: flex;
    justify-content: flex-end;
}

.copy-btn {
    margin: .4rem;
    padding: .8rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(18, 155, 189);
    color: white;


}

.copy-btn:hover {
    background-color: rgb(10, 111, 136);

}